@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Regular.eot');
    src: local('PT Sans'), local('PTSans-Regular'),
        url('subset-PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-PTSans-Regular.woff2') format('woff2'),
        url('subset-PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('subset-PTSans-Narrow.eot');
    src: local('PT Sans Narrow'), local('PTSans-Narrow'),
        url('subset-PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
        url('subset-PTSans-Narrow.woff2') format('woff2'),
        url('subset-PTSans-Narrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('subset-PTSans-Bold.eot');
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('subset-PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-PTSans-Bold.woff2') format('woff2'),
        url('subset-PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('subset-PTSans-NarrowBold.eot');
    src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
        url('subset-PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),
        url('subset-PTSans-NarrowBold.woff2') format('woff2'),
        url('subset-PTSans-NarrowBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

